<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/papers">Papers</a></li>
	        		<li><a href="/media">Media</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:peter.hepburn@rutgers.edu">email</a></li>
	        		<li><a href="https://github.com/pshepburn">github.com/pshepburn</a></li>
				</ul>
			</footer>
		</body>
	</html>
